div.game
  h3 A Day at the Zoo
  span&nbsp; Today I went to the zoo. I saw a 
  jj-game-input(type='adjective')
  jj-game-input(type='noun')
  span &nbsp;jumping up and down in its tree. He 
  jj-game-input(type='verb: past tense')  
  jj-game-input(type='adverb') 
  span&nbsp; through the large tunnel that led to its
  jj-game-input(type='adjective') 
  jj-game-input(type='noun') 
  span&nbsp; . I got some peanuts and passed them through the cage to a gigantic gray 
  jj-game-input(type='noun')  
  span&nbsp; towering above my head. Feeding that animal made me hungry. I went to get a 
  jj-game-input(type='adjective') 
  span&nbsp; scoop of ice cream. It filled my stomach. Afterwards I had to 
  jj-game-input(type='verb: past tense') 
  jj-game-input(type='adverb') 
  span&nbsp; to catch our bus. When I got home I 
  jj-game-input(type='verb: past tense')
  span my mom for a 
  jj-game-input(type='adjective') 
  span&nbsp; day at the zoo.
  
  div
    button(ng-click='reveal()') Reveal
    button(ng-click='reset()') Start Over
    
